<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Auditus</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}splash.css" rel="stylesheet">


    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>
    <div id="content">
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Audit.us</a>
          <ul class="nav">
          </ul>
	   <form action="/signin" class="pull-right" method="post">
	     {% csrf_token %} 
            <input class="input-small" type="text" name="user" placeholder="Username">
            <input class="input-small" type="password" name="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>

      <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="header" id="outline">
      <div class="container">
	<div class="header" id="content">
	  <div class="row">
	    <div class="span11">
	      <h1 class="header" id="tag">Audits, Made Easy.</h1>
	    </div>
	    <div class="span5">
	      <a href="#" class="btn large primary" id="sign" >Sign Up</a>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <div class="header" id="border">
    </div>

    <div class="body-info">
      <div class="container" id="info">
	<div class="row">
	  <div class="span-one-third" id="audits">
	    <div>Audits</div>
	  </div>
	  <div class="span-one-third" id="reports">
	    <div>Reports</div>
	  </div>
	  <div class="span-one-third" id="teams">
	    <div>Teams</div>
	  </div>
	</div>
	<h2 id="text-info">Creating an Audit has never been so easy. Scroll over the above screenshots to learn more.</h2>
      </div>
    </div>

    <div class="footer">
      <div class="footer" id="content">
	<p>© Company 2011</p>
      </div>
    </div>
    </div>
  </body>
</html>
