<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Auditus</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}signup.css" rel="stylesheet">


    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>
    <div id="content">
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Audit.us</a>
        </div>
      </div>
    </div>

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="container" id="signup">
	<form action="/join" method="post">
	   {% csrf_token %} 
	<div class="row">
	  <div class="span7">
	    <div>First Name</div>
	  </div>
	  <div class="span7">
	    <input class="input" type="text" name="first_name">
	  </div>
	  <div class="span7">
	    <div>Last Name</div>
	  </div>
	  <div class="span7">
	    <input class="input" type="text" name="last_name">
	  </div>
	  <div class="span7">
	    <div>Email</div>
	  </div>
	  <div class="span7">
	    <input class="input" type="text" name="email">
	  </div>
	  <div class="span7">
	    <div>Enter Password</div>
	  </div>
	  <div class="span7">
	    <input class="input" type="password" name="password">
	  </div>
	  <div class="span7">
	    <div>Reenter Password</div>
	  </div>
	  <div class="span7">
	    <input class="input" type="password" name="password_check">
	  </div>
	</div>
	<button class="btn" type="submit">Sign Up</button>
      </form>
    </div>

    <div class="footer">
      <div class="footer" id="content">
	<p>© Company 2011</p>
      </div>
    </div>
    </div>
  </body>
</html>
